{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Profile</title>
{% endblock meta %}
{% block content %}
<div class="row">
    <div class="main">
    <h3> Tentang saya</h3>
        <br><br><center>
            <img src="{% static 'images/foto.jpg' %}" class="rounded"><br><br>
            <p>An hardworking 2nd year Computer Science Student who aspired to be an UI/UX designer.</p>
            <p>Loves to watch film and take photos</p>
        </center> 
        <h5>Identitas</h5>
        <ul>
            <li>Nama: Shafira Azzahra </li>
            <li>NPM: 1906353813</li>
            <li>Angkatan: 2019</li>
        </ul> 
        <h5>Riwayat pendidikan</h5>
        <ul>
            <li>Universitas Indonesia: 2019 - Sekarang </li>
            <li>SMAN 2 Tangerang: 2016-2019</li>
            <li>SMPN 16 Tangerang: 2013-2016</li>
            <li>SDN Cipondoh 1: 2007-2013</li>
        </ul> 
        <h5>Lain-Lain</h5>
        <h6>Hobi: </h6>
        <ul>
            <li>Menonton Film</li>
            <li>Membaca Novel</li>
            <li>Mengambil Foto</li>
            <li>Mendengarkan lagu</li>
        </ul> 
        </div>


{% endblock content %}