
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: "Montserrat";
  font-size: 24 px;
  font-weight: bold;
  color: #3D3D3D;
  margin: 0;
  background-color: #E5B181;
}
/* Style texts */
.Merriweather {
  font-family: "Merriweather";
}

h2,h3,h4,h5,h6{
  font-weight: bolder;
}

h3{
  background-color: #eac099;
  text-align: center;
}

h4{
  text-shadow: 2px 2px 5px white;
}


/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #DA352F;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 20%;
  background-color: #E5B181;
  border-right: 1px solid;
  border-color: black;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: #E5B181;
  padding: 20px;
}

/* crop image */
img.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}


/* make polaroid */
div.polaroid {
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
div.containerfoto {
  text-align: center;
  padding: 10px 20px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}





