{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>  
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  
  <div class="navbar">
    <a href='/'>Home</a>
    <a href="/profile">Profil</a>
    <a href="/pengalaman">Pengalaman</a>
    <a href="/hobi">Hobi</a>
    <a href="mailto: firazzahra2@gmail.com">Message </a>
  </div>
    {% block content %}
    {% endblock content %}
</body>
</html>