{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock meta %}

<body>
    <div class="side">
        <center>
            <br><h5>About me</h5><br>
            <img src="{% static 'images/foto.jpg' %}" class="rounded">
            <br><br><p class= "Merriweather"> Shafira Azzahra </p>
            <p >A hardworking 2nd year Computer Science Student who is interested in UI/UX </p>
        </center>
    </div>
    {% block content %}
    {% endblock content %}
</body>

  </html>